flows (3).json
[
    {
        "id": "4e84a74e90a7d119",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ce0f70c080b785a",
        "type": "inject",
        "z": "4e84a74e90a7d119",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "G8:",
                "v": "Hola G8",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "5605a83e8a07178e",
                "e60e226cd74a140d"
            ]
        ]
    },
    {
        "id": "324a5b335a6ede5c",
        "type": "debug",
        "z": "4e84a74e90a7d119",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "5605a83e8a07178e",
        "type": "function",
        "z": "4e84a74e90a7d119",
        "name": "",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 100,
        "wires": [
            [
                "324a5b335a6ede5c",
                "3ac81be2e5e83bf0"
            ]
        ]
    },
    {
        "id": "3ac81be2e5e83bf0",
        "type": "ui_text",
        "z": "4e84a74e90a7d119",
        "group": "d475f38b8ce4cb1c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "e60e226cd74a140d",
        "type": "debug",
        "z": "4e84a74e90a7d119",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 260,
        "wires": []
    },
    {
        "id": "d475f38b8ce4cb1c",
        "type": "ui_group",
        "name": "Fecha G8 - Group 1",
        "tab": "c4c3e2e0ed4627a7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4c3e2e0ed4627a7",
        "type": "ui_tab",
        "name": "Flow2 Fecha G8 - Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]